.tile_container{
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-bottom: 20px;
}

.tile{
  width: 180px;
  height: 180px;
  display: inline-block;
  background: rgb(100, 34, 34);
  margin: 50px;

}
.tile::-webkit-scrollbar {
  display: none;
}
.tile_title{
  color: black;
  background-color: white;
  width: 100%;
  height: 50%;
  padding: 20px;
  font-size: 20px;
}

.tile_description{
  background-color: rgb(228, 67, 99);
  color: white;
  height: 50%;
  padding: 20px;
  overflow: auto;
}
.empyList{
  text-align: center;
  margin-bottom: 70px;
}

@media only screen and (max-width:600px){
  .empyList h1{
    font-size: 30px;
  }
}